.section-ctn {
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("https://raw.githubusercontent.com/orozCoding/billionares-pictures/main/backgrounds/mansion-and-pool.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.layer {
  background-color: rgba(154, 214, 49, 0.9);
  width: auto;
  min-height: 100vh;
  color: white;
  align-items: center;
  justify-content: center;
}

.layer h2 {
  font-family: var(--font-bold);
  letter-spacing: 10px;
}

.d-flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.click {
  cursor: pointer;
}

.form-parent {
  gap: 15px;
  padding: 15px;
}

.form-ctn {
  width: 100%;
}

hr {
  border: none;
  border-top: 2px solid rgba(255, 255, 255, 0.248);
}
