.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  margin-left: 1rem;
}

.hamburger,
.nav-hide {
  display: block;
  border: none;
  background-color: unset;
  font-size: 2rem;
}

.nav {
  height: 100vh;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  border-right: 3px solid #f8f8f8;
}

.logo {
  height: 200px;
}

.list {
  list-style: none;
}

.links {
  text-align: center;
  color: var(--black);
}

.links li,
.link {
  width: 100%;
}

.link {
  padding: 0.7rem;
  font-family: var(--font-bold);
  font-size: 1.3rem;
  display: block;
}

.link:hover {
  background-color: var(--orange);
  color: #fff;
  transform: scale(1.1);
  transition: 0.3s;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  color: var(--black);
  margin-top: auto;
  padding-right: 1rem;
  gap: 1rem;
}

.social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.social li a:hover {
  color: var(--green);
  transition: 0.3s;
}

.copyright {
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.nav-hide {
  background-color: var(--green);
  color: #fff;
  align-self: flex-end;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
}

.nav-hide:hover {
  background-color: #a6d313;
}
