.form {
  color: #fff;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.form-child,
.btn,
.select-title {
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
}

.form-child {
  background-color: rgba(151, 191, 15, 0.1);
}

.btn {
  background-color: #fff;
  color: var(--green);
  grid-column: 1 / span 3;
  width: 200px;
  margin: auto;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

.errors {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.select {
  position: relative;
}

.select-title {
  cursor: pointer;
}

.select-options {
 position: absolute;
 transform-origin: bottom;
 bottom: 4rem;
 display: flex;
 flex-direction: column;
 max-height: 10rem;
 overflow-y: auto;
 width: 100%;
 padding: 0.5rem;
 background-color: #639D05;
 border-radius: 0.5rem;
 box-shadow: 0 3px 6px -2px var(--black);
}

.select-options span {
  padding: 0.1rem 0.3rem;
  cursor: pointer;
}

.select-options span:hover {
  background-color: var(--green);
}

@media only screen and (max-width: 670px) {
  .form {
    grid-template-columns: 1fr;
  }

  .btn {
    grid-column: unset;
    width: unset;
    margin: unset;
  }
}
