.d-flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.alert-ctn {
  color: red;
  width: auto;
}

.click {
  cursor: pointer;
}

.form-ctn {
  width: 100%;
  gap: 15px;
}

.form {
  width: 100%;
  gap: 10px;
  padding: 2rem;
  border-radius: 1rem;
  color: var(--black);
  background-color: #fff;
}

.form label {
  display: flex;
  flex-direction: column;
}

.form label p {
  font-weight: bold;
  letter-spacing: 2px;
}

.form input,
.form textarea {
  border-radius: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--green);
  outline: none;
  width: 100%;
}

.form input {
  text-align: center;
}

.form textarea {
  width: 100%;
}

.form input[type=submit] {
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  text-align: center;
  background-color: var(--green);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
