.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem 0;
}

.details {
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.back {
  background-color: var(--green);
  width: 60px;
  height: 45px;
  border-radius: 0 44% 44% 0;
  position: absolute;
  left: 0;
  bottom: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  border: none;
}

.icon {
  color: aliceblue;
  margin-right: 15px;
}

.container {
  display: flex;
  gap: 30px;
  position: relative;
  flex-direction: column;
}

.image-section {
  object-fit: fill;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 6%;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: fill;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .back {
    bottom: 0;
  }

  .image {
    width: 350px;
    height: 350px;
  }

  .container {
    flex-direction: row;
  }
}
