.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.details {
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name {
  font-family: var(--font-bold);
  padding: 10px;
}

.title {
  font-size: small;
  padding: 10px;
}

.details header {
  text-align: right;
}

.tile {
  padding: 0.5em;
  background-color: var(--light-gray);
  display: flex;
  justify-content: space-between;
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.back {
  background-color: var(--green);
  width: 60px;
  height: 45px;
  border-radius: 0 44% 44% 0;
  position: absolute;
  left: 0;
  bottom: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  border: none;
}

.icon {
  color: aliceblue;
  margin-right: 15px;
}

.container {
  display: flex;
  gap: 30px;
  position: relative;
  flex-direction: column;
}

.image-section {
  object-fit: fill;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 6%;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: fill;
}

.reserve {
  background-color: var(--green);
  color: aliceblue;
  border-radius: 20px;
  padding: 0.5em;
  display: flex;
  gap: 10px;
}

.reserve-div {
  align-self: center;

}

@media (min-width: 768px) {
  .back {
    bottom: -40px;
  }

  .details {
    max-width: 350px;
  }

  .image {
    width: 500px;
    height: 500px;
  }

  .container {
    flex-direction: row;
  }
}
